@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  width: 1348px;
  margin: 0 auto;
  overflow: hidden;
}

.go_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.12);
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  z-index: 1;
}

.go_top:hover i {
  position: relative;
  top: 0px;
  top: 10px;
  opacity: 0;
  animation: wheel_ani 1.2s infinite;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header_container {
  padding: 0 46px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container h1 a {
  font-size: 65px;
  font-weight: bold;
  color: #000000;
}

.header_container .about {
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.header_container .about::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 10px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #000000;
  transition: width 0.3s;
}

.header_container .about:hover::after {
  width: 100%;
}

.about_dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
  z-index: 100;
}

.show {
  visibility: visible;
}

.about_box {
  width: 1052px;
  height: 650px;
  border-radius: 49px;
  background: #fff;
}

.about_box h2 {
  font-size: 64px;
  font-weight: bold;
  margin-top: 34px;
  margin-bottom: 30px;
  text-align: center;
  color: #5e5e5e;
  position: relative;
}

.about_box h2::after {
  content: "";
  position: absolute;
  width: 212px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #b6b5b5;
}

.about_text {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 135px;
}

.about_text img {
  margin-right: 13px;
}

.about_text p {
  font-size: 21px;
  color: #000000;
}

.about_text p span {
  font-size: 16px;
  color: #000000;
}

.about_box > p {
  font-size: 35px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
  color: #5e5e5e;
  position: relative;
}

.about_box > p::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #b6b5b5;
}

.skill_img {
  margin-left: 135px;
}

.skill_img img {
  margin-right: 70px;
}

/* bg */
.bg {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.bg_slide .item {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg_slide .item_01 {
  background-image: url("../images/bg1.jpg");
}

.bg_slide .item_02 {
  background-image: url("../images/bg2.jpg");
}

.bg_slide .item_03 {
  background-image: url("../images/bg3.jpg");
}

.bg_text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_text h2 {
  font-size: 70px;
  line-height: 1.3;
}

.bg_text h2:nth-child(1) {
  opacity: 0;
  animation: bg_ani_scale 0.5s forwards;
}

.bg_text h2:nth-child(2) {
  font-weight: bold;
  opacity: 0;
  animation: bg_ani_scale 0.5s 0.5s forwards;
}

.bg_text h2:nth-child(3) {
  opacity: 0;
  animation: bg_ani_scale 0.5s 1s forwards;
}

/* page */
.page_container {
  width: 890px;
  margin: 0 auto;
  overflow: hidden;
}

.page_container h2 {
  margin-top: 220px;
  margin-bottom: 137px;
  margin-left: 288px;
  width: 313px;
  font-size: 64px;
  font-weight: bold;
  color: #5e5e5e;
  position: relative;
}

.page_container h2::after {
  content: "";
  position: absolute;
  width: 313px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #b6b5b5;
}

.page_imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.page_img {
  position: relative;
}

.page_imgs .page_img img {
  width: 360px;
  height: 580px;
}

.page_img .page_dimm {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 580px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s;
}

.page_img i {
  color: #fff;
  position: absolute;
  top: 120%;
  left: 50%;
  font-size: 46px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.page .page_imgs .page_img:hover .page_dimm {
  opacity: 1;
}

.page_imgs .page_img:hover i {
  top: 50%;
}

/* banner */

.container h2 {
  margin-top: 60px;
  margin-bottom: 137px;
  margin-left: 412px;
  width: 522px;
  font-size: 64px;
  font-weight: bold;
  color: #5e5e5e;
  position: relative;
}

.container h2::after {
  content: "";
  position: absolute;
  width: 522px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #b6b5b5;
}

.popup-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 160px;
}

.popup-gallery a {
  width: 248px;
  height: 248px;
  margin-right: 115px;
  margin-bottom: 83px;
  position: relative;
}

.popup-gallery a:nth-child(4),
.popup-gallery a:nth-child(8) {
  margin-right: 0;
}

.popup-gallery a:nth-child(5),
.popup-gallery a:nth-child(6),
.popup-gallery a:nth-child(7),
.popup-gallery a:nth-child(8) {
  margin-bottom: 0;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  right: -80px;
  top: -20px;
  font-size: 100px;
}

.mfp-arrow-right {
  right: 26.5%;
  top: 50%;
  transform: translateY(-50%);
}

.mfp-arrow-left {
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
}

.mfp-arrow-right:after {
  border-left: 50px solid #fff;
  margin-left: 31px;
}

.mfp-arrow-left:after {
  border-right: 50px solid #fff;
  margin-left: 31px;
}

.mfp-arrow:after {
  border-top-width: 50px;
  border-bottom-width: 50px;
  top: 8px;
}

.popup-gallery a .banner_dimm {
  position: absolute;
  top: 0;
  left: 0;
  width: 248px;
  height: 248px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s;
}

.popup-gallery a i {
  color: #fff;
  position: absolute;
  top: 120%;
  left: 50%;
  font-size: 46px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.banner .popup-gallery a:hover .banner_dimm {
  opacity: 1;
}

.popup-gallery a:hover i {
  top: 50%;
}

/* ui */

.ui .container h2 {
  margin-top: 60px;
  margin-bottom: 137px;
  margin-left: 579px;
  width: 191px;
  font-size: 64px;
  font-weight: bold;
  color: #5e5e5e;
  position: relative;
}

.ui .container h2::after {
  content: "";
  position: absolute;
  width: 191px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #b6b5b5;
}

.popup {
  display: flex;
  justify-content: space-between;
}

.popup-modal {
  position: relative;
}

.popup-modal img {
  width: 375px;
  height: 713px;
}

.slide {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 713px;
  position: relative;
}

.slide div {
  width: 375px;
  height: 713px;
}

.slide img {
  width: 375px;
  height: 713px;
}

.popup-modal-dismiss {
  position: absolute;
  top: -10%;
  right: 33%;
  transform: translateX(-50%);
  font-size: 60px;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: #fff;
}

.popup-modal .ui_dimm {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 713px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s;
}

.ui .popup-modal:hover .ui_dimm {
  opacity: 1;
}

.popup-modal i {
  color: #fff;
  position: absolute;
  top: 120%;
  left: 50%;
  font-size: 46px;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.ui .popup-modal:hover i {
  top: 50%;
}

.slick-prev {
  left: -200px;
}

.slick-next {
  left: 465px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 100px;
}

/* footer */
.footer_container {
  width: 890px;
  margin: 0 auto;
}

.footer_container h2 {
  margin-top: 193px;
  margin-bottom: 120px;
  margin-left: 320px;
  width: 250px;
  font-size: 64px;
  font-weight: bold;
  color: #5e5e5e;
  position: relative;
}

.footer_container h2::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #b6b5b5;
}

.footer_contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.footer_contents img {
  margin-bottom: 36px;
}

.footer_contents .item1 img {
  width: 59px;
  height: 46px;
  margin-left: 59px;
}

.footer_contents .item2 img {
  width: 59px;
  height: 46px;
  margin-left: 90px;
}

.footer_contents p {
  font-size: 25px;
}

@media (max-width: 570px) {
  .container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  /* header */
  .header_container {
    padding: 0 36px;
    padding-top: 30px;
  }

  .header_container h1 a {
    font-size: 35px;
  }

  .header_container .about {
    font-size: 35px;
  }

  .about_box {
    width: 90%;
  }

  .about_box h2 {
    font-size: 35px;
  }

  .about_box h2::after {
    width: 100px;
  }

  .about_text {
    margin-left: 80px;
  }

  .about_text img {
    margin-right: 8px;
  }

  .about_text p {
    font-size: 14px;
  }

  .about_text p span {
    font-size: 11px;
  }

  .about_box > p {
    font-size: 35px;
    margin-top: 70px;
  }

  .skill_img {
    margin-left: 110px;
  }

  .skill_img img {
    width: 60px;
    height: 60px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  /* bg */

  .bg_text {
    top: 45%;
  }

  .bg_text h2 {
    font-size: 43px;
    line-height: 1.6;
  }

  /* page */
  .page_container {
    width: 100%;
  }

  .page_container h2 {
    margin-top: 100px;
    margin-bottom: 137px;
    margin-left: auto;
    margin-right: auto;
  }

  .page_imgs {
    flex-wrap: wrap;
    justify-content: initial;
    margin-bottom: 0px;
  }

  .page_img {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .page .page_imgs .page_img:hover .page_dimm {
    display: none;
  }

  .page_imgs .page_img:hover i {
    display: none;
  }

  /* banner */
  .container h2 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .popup-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  .popup-gallery a {
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 83px;
  }

  .popup-gallery img {
    width: 200px;
    height: 200px;
  }

  .popup-gallery a:nth-child(4),
  .popup-gallery a:nth-child(8) {
    margin-right: auto;
    margin-left: auto;
  }

  .popup-gallery a:nth-child(5),
  .popup-gallery a:nth-child(6),
  .popup-gallery a:nth-child(7),
  .popup-gallery a:nth-child(8) {
    margin-bottom: 83px;
  }

  .mfp-image-holder .mfp-close,
  .mfp-iframe-holder .mfp-close {
    display: none;
  }

  .mfp-arrow:after {
    display: none;
  }

  .mfp-arrow:before {
    display: none;
  }

  .popup-gallery a .banner_dimm {
    display: none;
  }

  .popup-gallery a i {
    display: none;
  }

  .banner .popup-gallery a:hover .banner_dimm {
    opacity: 0;
  }

  .popup-gallery a:hover i {
    display: none;
  }

  /* ui */
  .ui .container h2 {
    margin-top: 17px;
    margin-bottom: 137px;
    margin-left: auto;
    margin-right: auto;
  }

  .popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .popup-modal {
    margin-bottom: 50px;
  }

  .mfp-hide {
  }

  .slide div {
    height: 663px;
  }

  .slide img {
    height: 663px;
  }

  .popup-modal-dismiss {
    top: -10%;
    right: 0;
    transform: translateX(-50%);
    font-size: 60px;
    color: #fff;
  }

  .popup-modal .ui_dimm {
    display: none;
  }

  .ui .popup-modal:hover .ui_dimm {
    display: none;
  }

  .popup-modal i {
    display: none;
  }

  .ui .popup-modal:hover i {
    display: none;
  }

  .slick-prev::before,
  .slick-next::before {
    font-size: 0px;
  }

  /* footer */
  .footer_container {
    width: 100%;
  }

  .footer_container h2 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer_contents {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .footer_contents img {
    margin-bottom: 36px;
  }

  .footer_contents .item1 img {
    width: 59px;
    height: 46px;
    margin-left: 59px;
  }

  .footer_contents .item2 img {
    width: 59px;
    height: 46px;
    margin-left: 90px;
  }

  .footer_contents p {
    font-size: 25px;
  }
}

@media (max-width: 376px) {
  .go_top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.12);
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: none;
    z-index: 1;
  }
  
  .go_top:hover i {
    position: relative;
    top: 0px;
    top: 10px;
    opacity: 0;
    animation: wheel_ani 1.2s infinite;
  }
  /* header */
  .header_container {
    width: 375px;
    padding: 0 20px;
    padding-top: 20px;
    box-sizing: border-box;
  }

  .about_text {
    margin-left: 20px;
  }

  .about_text img {
    width: 20px;
    height: 20px;
  }

  .about_text p {
    font-size: 14px;
  }

  .about_text p span {
    font-size: 11px;
  }

  .about_box > p {
    margin-top: 60px;
  }

  .skill_img {
    margin-left: 50px;
  }

  .skill_img img {
    width: 35px;
    height: 35px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 40px;
  }
  /* bg */
  .bg_text h2 {
    font-size: 28px;
    line-height: 1.6;
  }
  /* page */
  .page_container h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 90px;
    margin-right: 0;
    width: 100%;
    font-size: 40px;
  }
  
  .page_container h2::after {
    width: 50%;
    left: 50%;
    transform: translateX(-100%);
  }
  /* banner */
  .container h2 {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 0;
    width: 100%;
    font-size: 40px;
  }

  .container h2::after {
    width: 85%;
    left: 50%;
    transform: translateX(-58%);
  }
  /* ui */
  .ui .container h2 {
    margin-top: 17px;
    margin-bottom: 100px;
    margin-left: 130px;
    margin-right: 0;
    width: 100%;
    font-size: 40px;
  }
  
  .ui .container h2::after {
    width: 30%;
    left: 50%;
    transform: translateX(-165%);
  }

  .slide{
    width: 100%;
    height: 613px;
  }

  .slide div {
    width: 275px;
    height: 513px;
  }

  .slide img {
    width: 275px;
    height: 513px;
  }

  .popup-modal-dismiss {
    top: 0;
    right: -5%;
    font-size: 45px;
    color: #fff;
  }

  /* footer */
  .footer_container h2 {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 110px;
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 40px;
  }
  
  .footer_container h2::after {
    width: 45%;
    left: 80%;
    transform: translateX(-115%);
  }

  .footer_contents .item1 img {
    width: 59px;
    height: 46px;
    margin-left: 29px;
  }

  .footer_contents .item2 img {
    width: 59px;
    height: 46px;
    margin-left: 50px;
  }

  .footer_contents p {
    font-size: 16px;
  }
}

/* bg_animatation */
@keyframes bg_ani_scale {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes wheel_ani {
  0% {
    opacity: 0;
    top: 10px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -10px;
  }
}